marquee {
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
    background-color: black;
}

.bg-model {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.bg-model2 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.model-content {
    width: 400px;
    height: 500px;
    background-color: white;
    text-align: center;
    padding: 20px;
    position: relative;
}
.model-content2 {
    width: 400px;
    height: 500px;
    background-color: white;
    text-align: center;
    padding: 20px;
    position: relative;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}
.pclose {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

#main {
    box-shadow: 3px 3px 3px 3px black;
    margin-top: absolute;
    text-align: center;
    background-color: white;
    width: 500px;
    margin-left: 200px;

}

.em {
    color: #00290e;
}

/*for pop up boxex*/
input[type=text]:focus {
    outline: none;
    /* Remove default outline and use border or box-shadow */
    box-shadow: 0 0 0 2px #00290e;
    /* Full freedom. (works also with border-radius) */
}